html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Roboto, Lora, serif;
  font-size: 16px;
  color: #3b3838;
}

body {
  border: 1px solid black;
}
/*----------------- Header -----------------*/
header {
  position: fixed;
  display: flex;
  width: 98.5%;
  height: 64px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 1;
  background-color: white;
  overflow: hidden;
}

.logo {
  height: 55px;
  padding-left: 24px;
}

header span {
  color: navy;
  font-size: 1.5rem;
}

.navbar {
  margin-left: auto;
  padding-right: 24px;
}

nav li {
  display: inline-flex;
}

nav a {
  padding: 8px;
  color: navy;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

/*--------------- Main -----------------*/
/*----- Banner -----*/
.banner {
  box-sizing: border-box;
  background-color: lightgrey;
  padding-top: 64px;
  padding-bottom: 32px;
  display: inline-flex;
  width: 100%;
  height: auto;
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  width: 40%;
  height: auto;
  margin: auto;
  padding-right: 120px;
}

.banner-text h2 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.banner-text p {
  font-size: 1.5rem;
  font-weight: 400;

}

.banner-text button {
  background-color: #3b3838;
  color: white;
  width: 80%;
  height: auto;
  font-size: 1rem;
  font-weight: 100;
  padding: 8px;
}
/*----- Keep practising -----*/
.practising-grid {
  background-color: white;
  display: grid;
  width: 96%;
  height: auto;
  position: relative;
  padding: 32px 0 32px 0;
  margin: auto;
  gap: 10px;
  grid-template-areas: "a a a b b"
                        "a a a c c"
                        "a a a d d ";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main {
  grid-area: a;
  width: 100%;
}

.main img {
  width: 100%;
  height: auto;
}

.main h2 {
  padding-top: 32px;
  padding-bottom: 24px;
  margin: 0;
  font-size: 2.5rem;
}

.main p {
  margin: 0;
  font-style: italic;
}

p.name {
  margin: 0;
  font-size: .75rem;
  padding-top: 32px;
}

.text-box {
  width: 59%;
  height: auto;
  display: inline-block;
  padding-left: 12px;
}

.right-top {
  grid-area: b;
  display: flex;
  align-items: center;
}

.right-top img {
  width: 35%;
  height: auto;
  padding: 0 0 12px 12px;
}

.right-top h3 {
  margin: 0;
}

.right-top p {
  margin: 0;
  padding: 8px 0;
}

.right-middle {
  grid-area: c;
  display: flex;
  align-items: center;
}

.right-middle img {
  width: 35%;
  height: auto;
  padding: 12px 0 12px 12px;
}

.right-middle h3 {
  margin: 0;
}

.right-middle p {
  margin: 0;
  padding: 8px 0;
}

.right-bottom {
  background-color: lightgrey;
  grid-area: d;
  display: flex;
  align-items: center;
}

.right-bottom img {
  width: 35%;
  height: auto;
  padding: 12px 0 0 12px;
}

.right-bottom h3 {
  margin: 0;
}

.right-bottom p {
  margin: 0;
  padding: 8px 0;
}

/*----- Start learning -----*/
.courses {
  height: auto;
  background-color: lightgrey;
  margin: auto;
  padding: 2rem 4.5rem;
}

.courses h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.courses-grid {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(3, 31.5%);
  gap: 2rem;
}

.course-box {
  background-color: white;
}

.course-box img {
  width: 100%;
  height: auto;
}

.course-text {
  margin: 0;
  padding: 1rem;
}

.course-text h3{
  margin: 0;
  font-size: 1.5rem;
}

.course-text p{
  margin: .5rem auto;
  font-size: 1rem;
}

/*----- Thesis exhibit -----*/
.thesis-grid {
  background-color: white;
  display: grid;
  width: 96%;
  height: auto;
  position: relative;
  padding: 32px 0 32px 0;
  margin: auto;
  gap: 10px;
  grid-template-areas: "a a a b b"
                        "a a a c c"
                        "a a a d d ";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.vid {
  grid-area: a;
  width: 100%;
}

.vid video {
  width: 100%;
  height: auto;
}

.vid h3 {
  padding-top: 32px;
  padding-bottom: 24px;
  margin: 0;
  font-size: 2.5rem;
}

.vid p {
  margin: 0;
  font-style: italic;
}

.text-box {
  width: 59%;
  height: auto;
  display: inline-block;
  padding-left: 12px;
}

.right-first {
  grid-area: b;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.right-first img {
  width: 35%;
  height: auto;
  padding: 12px 0 12px 12px;
}

.right-first h3 {
  margin: 0;
}

.right-first p {
  margin: 0;
  padding: 8px 0;
}

.right-second {
  grid-area: c;
  display: flex;
  align-items: center;
}

.right-second img {
  width: 35%;
  height: auto;
  padding: 12px 0 0 12px;
}

.right-second h3 {
  margin: 0;
}

.right-second p {
  margin: 0;
  padding: 8px 0;
}

/*----------------- Footer -----------------*/
footer {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  align-items: center;
}

footer span {
  color: black;
  padding-left: 24px;
}
