html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Roboto, Lora, serif;
  font-size: 16px;
  color: #3b3838;
}

/*----------------- Header -----------------*/
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 64px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.logo {
  height: 55px;
  padding-left: 24px;
}

header span {
  color: navy;
  font-size: 1.5rem;
}

.navbar {
  margin-left: auto;
  padding-right: 24px;
}

nav li {
  display: inline-flex;
}

nav a {
  padding: 8px;
  color: navy;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

/*--------------- Main -----------------*/
/*----- Banner -----*/
.banner {
  box-sizing: border-box;
  margin-top: 65px;
  background-color: lightgrey;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  width: 100%;
  height: auto;
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-text {
  width: 40%;
  height: auto;
  margin: auto;
  padding-right: 120px;
}

.banner-text h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0;
}

.banner-text p {
  font-size: 1.50rem;
  font-weight: 500;

}

.banner-text button {
  background-color: #3b3838;
  color: white;
  width: 80%;
  height: auto;
  font-size: 1rem;
  font-weight: 100;
  padding: 8px;
}
/*----- Keep practising -----*/
/*----- Start learning -----*/
.courses {
  height: auto;
  background-color: lightgrey;
  margin: auto;
  padding: 2rem 4.5rem;
}

.courses h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
  font-size: 3.5rem;
}

.courses-grid {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(3, 31.5%);
  gap: 2rem;
}

.course-box {
  background-color: white;
}

.course-box img {
  width: 100%;
  height: auto;
}

.course-text {
  margin: 0;
  padding: 1rem;
}

.course-text h3{
  margin: 0;
  font-size: 1.5rem;
}

.course-text p{
  margin: .5rem auto;
  font-size: 1rem;
}

/*----- Thesis exhibit -----*/

/*----------------- Footer -----------------*/
footer {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  align-items: center;
}

footer span {
  color: black;
  padding-left: 24px;
}
